<form class="search-form">
    <span class="search-title">Search Quest</span><br><br>
    
    <div class="search-line">
        <div class="search-text">Name:</div>
        <input type="text"      name="name" class="serach-input">
    </div>

    <div class="search-line">
        <div class="search-text">Level:</div>
        <input type="text"      name="reqlvmin" class="serach-input search-input-small"> -
        <input type="text"      name="reqlvmax" class="serach-input search-input-small">
    </div>

    <div class="search-line">
        <div class="search-text">Location:</div>
        <input type="text"      name="location" class="serach-input">
    </div>
    
    <button class="serach-input-submit"> Search </button>
</form>