<html lang="en">

<head>
	<title>Arikazike</title>
	<link type="text/css" rel="stylesheet" href="{{ asset ('css/main.css') }} ">
	<link type="text/css" rel="stylesheet" href="{{ asset ('css/items.css') }} ">

	<script type="text/javascript" src=" {{ asset ('js/character.js') }} " defer></script>
</head>

<body>

	{% include 'Utils/header_and_menu.html.twig' %}

	<div class="search-item-tooltip-container">
		{% include 'character/searchCharacter.html.twig' %}
	</div>

	<div class="search-result-container" id="search-result-container">
		<table>
			<tr>
				<th>Name</th>
				<th>Level</th>
				<th>Guild</th>
			</tr>
		</table>
	</div>
</body>

<template id="character-template">
	<tr>
		<th id="name"><a href="#" class="questref">Name</a></th>
		<th id="lv">Level</th>
		<th id="guild"><a href="#" class="npcref">Guild</a></th>
	</tr>
</template>