<form class="search-form">
    <span class="search-title">Search Character</span><br><br>
    
    <div class="search-line">
        <div class="search-text">Name:</div>
        <input type="text"      name="name" class="serach-input">
    </div>

    <div class="search-line">
        <div class="search-text">Level:</div>
        <input type="text"      name="lvmin" class="serach-input search-input-small"> -
        <input type="text"      name="lvmax" class="serach-input search-input-small">
    </div>

    <div class="search-line">
        <div class="search-text">Guild:</div>
        <input type="text"      name="guild" class="serach-input">
    </div>

    <button class="serach-input-submit"> Search </button>
</form>