<div class="menu-container">
    <ol class="menu-ol">
        <li>
            <a href="/page/1"><span class="menu-li">News</span></a>
            <ul>
            </ul>
        </li>

        <li>
            <a href="#"><span class="menu-li">Rankings</span></a>
            <ul>
            </ul>
        </li>
        
        <li>
            <a href="#"><span class="menu-li">Shop</span></a>
            <ul>
            </ul>
        </li>
        
        <li>
            <a href="#"><span class="menu-li">Armory</span></a>
            <ul>
            </ul>
        </li>
        
        <li>
            <a href="#"><span class="menu-li">Wiki ▼</span></a>
            <ul>
                <li><a href="#">NPCs</a></li>
                <li><a href="#">Quests</a></li>
                <li><a href="/item">Items</a></li>
            </ul>
        </li>
        
        <li>
            <a href="#"><span class="menu-li">Download</span></a>
            <ul>
            </ul>
        </li>
    </ol>
</div>