<form class="search-form">
    <span class="search-title">Search Guild</span><br><br>
    
    <div class="search-line">
        <div class="search-text">Name:</div>
        <input type="text"      name="name" class="serach-input">
    </div>

    <button class="serach-input-submit"> Search </button>
</form>