<html lang="en">

<head>
	<title>Arikazike</title>
	<link type="text/css" rel="stylesheet" href=" {{ asset ('css/items.css') }} ">
	<link type="text/css" rel="stylesheet" href=" {{ asset ('css/main.css') }} ">

	<script type="text/javascript" src=" {{ asset ('js/comment.js') }} " defer></script>
	<script type="text/javascript" src=" {{ asset ('js/item.js') }} " defer></script>

	<div id="comment_type">item</div>
</head>

<body>

	{% include 'Utils/header_and_menu.html.twig' %}

	<div class="search-item-tooltip-container">
		{% include 'item/searchitem.html.twig' %}
		<div class="itemtooltip">
			{% include 'item/renderitem.html.twig' %}
		</div>
	</div>

	<div class="search-result-container" id="search-result-container">
		<table>
			<tr>
				<th><span>Name</span></th>
				<th>Item Level</th> 
				<th>Required Level</th> 
				<th>Slot</th>
				<th>Type</th>
			</tr>
		</table>
	</div>

	<div class="comment-container">
		<div class="news news-full">
			<div class="news-content">
			{% include 'Comment/comment.html.twig' %}
			</div>
		</div>
	</div>

</body>

<template id="item-template">
	<tr>
		<th id="iname">
			<a href="#" class="itemref">
				<span>
					Name
				</span>
			</a>
		</th>

		<th id="ilv">Item Level</th>
		<th id="rlv">Required Level</th>
		<th id="slot">Slot</th>
		<th id="type">Type</th>
	</tr>
</template>

{% include 'Comment/commentTemplate.html.twig' %}